<th:block th:fragment="footer">
	<nav class="navbar fixed-bottom navbar-light bg-light">
	    <h6 class="mx-auto text-center">Job System 

	    <br/>
	    © Copyright WITS - Team1, 2019. All Rights Reserved.
	    </h6>
	</nav>

	<div id="util-loader-background" class="d-none">
		<div id="util-loader"></div>
	</div>
	<script th:src="@{/jquery-3.3.1/jquery-3.3.1.js}"></script>
	<script th:src="@{/bootstrap-4.3.1-dist/js/bootstrap.js}"></script>   
	<script	th:src="@{/js/utility-1.1.2.js}"></script>
	<script th:src="@{/jquery-ui-1.12.1/jquery-ui.js}"></script>   
</th:block>