<th:block th:fragment="header">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" th:href="@{/img/portfolio.png}" type="image/x-icon" />
	<link th:href="@{/bootstrap-4.3.1-dist/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/OpenIconic-1.1.0/css/open-iconic-bootstrap.css}" rel="stylesheet">
	<!-- CSS -->
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/jquery-ui-1.12.1/jquery-ui.css}" >
</th:block>